.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.gif
*.toc
*.nlo
*.nlg
*.nls
*.RPP
*.RPP-bak
*.dpth
*.md5
*.auxlock
*.pages
*.sofa
*.reapeaks
*.asv
*.pdf
*.png
*.eps
*.bib
*.sty
*.bst
*.wav
*.mat
*.zip
/.idea/

# optional submodules with alternative SH basis function implementations
/dependencies/AKtools/
/dependencies/soundfieldsynthesis/
