[submodule "dependencies/Spherical-Harmonic-Transform"]
	path = dependencies/Spherical-Harmonic-Transform
	url = https://github.com:polarch/Spherical-Harmonic-Transform.git
[submodule "dependencies/Array-Response-Simulator"]
	path = dependencies/Array-Response-Simulator
	url = https://github.com/polarch/Array-Response-Simulator.git
[submodule "dependencies/ambisonic-encoding"]
	path = dependencies/ambisonic-encoding
	url = https://github.com/AppliedAcousticsChalmers/ambisonic-encoding.git
